<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>myblog</title>
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet/less" href="/css/main.less"/>
  <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/JoinTheConversation'/>
  <script src="/js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/lib/jquery.github.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/lib/less.2.5.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
